env: local
server:
  host: 127.0.0.1
  port: 3333
  timeout:
    server: 30s
    read: 15s
    write: 10s
    idle: 5s
grpc:
  port: 44044
  timeout: 5s
db:
  host: 127.0.0.1
  port: 5432
  username: postgres
  password: postgres
  name: problem_map
redis:
  host: 127.0.0.1
  port: 6379
  password: